<ion-header>
  <ion-toolbar>
    <ion-title>
      ejercicio3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let product of products; let i = index;">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{product.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text color="warning">
              <h2>{{product.price}}€</h2>
            </ion-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <h1>x{{product.quantity}}</h1>
          <p>Subtotal: {{ product.price * product.quantity }}€</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-divider>
      <ion-label *ngIf="i+1 > 0" slot="end" margin-horizontal="2">{{ i+1 }}</ion-label>
    </ion-item-divider>
  </ion-item-group>
  <ion-item>
    <ion-label>Total: {{ total }} €</ion-label>
  </ion-item>
</ion-content>